extends wraper

block titulo
	| #{title}

block content
	if (!isLogged)
		h1 #{title}
	else
		h1 #{title}, #{username}!!
		form(action="/logout")
			input(type='submit' value='Logout').btn.btn-lg.btn-primary.btn-block
	if (!isLogged)
		block loginForm
			+loginForm(estrategia) 

