extends wraper

block titulo
	| Login

block content
	h1 #{title} - Login Page
	if (message)
		+alert(message,type) //-type danger warning success etc
	block loginForm
		+loginForm(estrategia)
