extends wraper
block content 
  form.form-signin
    h2.form-signin-heading Sign in here
    input(type="text" id="inputEmail" class="form-control" placeholder="username")
    input(type="password" id="inputPassword" class="form-control" placeholder="password")
    button(type="submit").btn.btn-lg.btn-primary.btn-block Sign in
